@charset "utf-8";
/* CSS Document */

.blue_box2{
	background-color:#e3ecf6;
	border-radius:10px;
	padding: 20px 20px 20px 0;
}

.properties_names_content {
	width:30%;
	display:inline-block;
	text-align:left;
	text-decoration:none;
	font-family:"century gothic";
	color:#383737;
	font-size:15px;}
	
	.properties_names_description {
	width:30%;
	display:inline-block;
	text-align:left;
	text-decoration:none;
	font-family:"century gothic";
	color:#383737;
	font-size:15px;
	padding-top:20px;}
	
		.lender_properties_description {
	width:30%;
	display:inline-block;
	text-align:left;
	text-decoration:none;
	font-family:"century gothic";
	color:#383737;
	font-size:15px;}
	
		.properties_names_title {
	display:inline-block;
	text-align:left;
	text-decoration:none;
	font-family:"century gothic";
	color:#383737;
	font-size:25px;
	padding-bottom:20px;}
	
		.box_post_property {box-sizing: content-box; width: 25%; float: left; display: inline-block;}
		.box_post_property2 {box-sizing: content-box; width: 70%; float: left; display: inline-block;}
		
		.box_input{
	background-color: #fff;
	border-radius:5px;
	border:#000;}
	
.forms_text2{	text-decoration: none;
	font-family:"century gothic";
	color:#8a9097;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	width:250px;
	padding-bottom:10px;
	}