@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../img/cpf_market_background.jpg);
	background-repeat:no-repeat;
	min-height:800px;
	min-width:300px;
}

@fontface{ font-family: "century gothic";
src:url(../fonts/century_gothic.eot);
font-style:normal;
font-size:18px;
font-weight:normal;}

@fontface{ font-family: "century gothic";
src:url(../fonts/century_gothic.eot);
font-style: normal;
font-size:18px;
font-weight: bold;}

/******************** BACKGROUND ********************/

.img_background { 
background-image:url(../img/cpf_market_background.jpg);
width: 100%;
background-size: 100%;
padding-top:0px;
background-repeat: no-repeat;
}
/******************** END BACKGROUND ********************/


/******************** HEADER ********************/

header{
	padding: 60px 20px 180px 55px;
	height:80px;
	background-image:url(../img/logo_cpf.png);
	background-repeat:no-repeat;
	background-origin:content-box;
	}
	
.header_links { 
	text-decoration:none;
	font-family:"century gothic";
	color:#383737;}

header_links:link {
	text-decoration: none;
	font-family:"century gothic";
	color:#383737;
}

header_links:visited {
	text-decoration: none;
	font-family:"century gothic";
	color:#383737;
}

header_links:hover {
	text-decoration: none;
	font-family:"century gothic";
	color:#383737;
}

header_links:active {
	text-decoration: none;
	font-family:"century gothic";
	color:#383737;
}	

.faq {
	width:5em; float:right; 
	text-align:right;}
	
.contact {
width:7em; float:right; 
text-align:right;}
	
.about_us {
width:7em; float:right; 
text-align:right;}

.title{	text-decoration: none;
	font-family:"century gothic";
	color:#393635;
	font-weight:bold;
	text-align:left;
	text-transform: uppercase;
	}
	

/******************** END HEADER ********************/

/******************** DATA - BLUE BOX ********************/


.blue_box{
	background-color:#f2f5f8;
	border-radius:10px;
	padding: 20px 20px 40px 20px;
}
	
.input_text{
	background-color:#fff;
	border-radius:5px;
	height:40px;
	text-indent:10px;
	font-family:"century gothic";
	border-bottom-color:#dde1e6;
	border-top-style: outset;
	border-top-color:#dde1e6;
	border-left-style:outset;
	border-left-color:#dde1e6;
	border-right-style: inset;
	border-right-color: #dde1e6;}
	
	.list{
	background-color:#fff;
	border-radius:5px;
	height:40px;
	text-indent:10px;
	font-family:"century gothic";
	border-bottom-color:#dde1e6;
	border-top-style: outset;
	border-top-color:#dde1e6;
	border-left-style:outset;
	border-left-color:#dde1e6;
	border-right-style: inset;
	border-right-color: #dde1e6;}
	
		.list: hover{
	background-color:#65abd0;
	border-radius:5px;
	height:40px;
	text-indent:10px;
	font-family:"century gothic";
	border-bottom-color:#dde1e6;
	border-top-style: outset;
	border-top-color:#dde1e6;
	border-left-style:outset;
	border-left-color:#dde1e6;
	border-right-style: inset;
	border-right-color: #dde1e6;}
	
.buttons{
	background-color:#65abd0;
	border-radius:5px;
	font-family:"century gothic";
	font-weight:bold;
	color:#FFF;
	border:none;
	height:45px;
	margin:0 0 15px 5px;
}
	
	.blue_links{ font-family:"century gothic";
	text-decoration: underline;
	font-weight:bold;
	font-size:12px;
	color:#65abd0;}
	
	.blue_links:link{ font-family:"century gothic";
	text-decoration: underline;
	font-weight:bold;
	font-size:12px;
	color:#65abd0;}
	
	.blue_links:visited{ font-family:"century gothic";
	text-decoration: underline;
	font-weight:bold;
	font-size:12px;
	color:#65abd0;}
	
	.blue_links:hover{ font-family:"century gothic";
	text-decoration: underline;
	font-weight:bold;
	font-size:12px;
	color:#65abd0;}
	
	.blue_links:active{ font-family:"century gothic";
	text-decoration: underline;
	font-weight:bold;
	font-size:12px;
	color:#65abd0;}
	
	.forms_text{	text-decoration: none;
	font-family:"century gothic";
	color:#b4bbc2;
	font-weight:normal;
	font-size:12px;
	}

/******************** END DATA - BLUE BOX ********************/


div.box {
    box-sizing: border-box;
    width: 30%;
    float: left;
	margin:5px 5px 5px 5px;
	text-align:left;
}

div.box2 {
    box-sizing: border-box;
    width: 30%;
    float: left;
	margin:5px 5px 5px 5px;
	text-align:right;
}

.container {
    width: 900px;
	padding-left:40px;
}


footer{
	height:80px;
	}
